html {
	margin: 0;
	padding: 10px;
	font-family: monospace;
	background: white url('sfmovie-jcvd-guile.jpg') top left;
	background-size: 100% auto;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 10px;
	width: 640px;
	background-color: rgba(255, 255, 255, 0.5);
}

h1,h2,h3,h4,p,ul {
	margin: 0px;
	padding: 10px;
}
h1,h2 {
	padding-top: 30px;
}
h3,h4 {
    padding-top: 15px;
}
h2 {
    padding-top: 50px;
}
p {
	line-height: 1.1em;
}

table {
    margin-left: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	border-collapse: collapse;
}
/* table tr:nth-child(1) { color: grey; } */
/* table tr:nth-child(2) { color: grey; } */
table tr.header {
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	font-weight: bold;
}
table tr.odd {
	background-color: rgba(220, 220, 220, 0.9);
}
th,td {
	border: 0px none;
	padding: 1ex;
}
td:first-child {
	font-weight: bold;
}
tr.header th {
	border-bottom: 1px solid #777;
}

code {
	background-color: rgba(255, 255, 255, 0.5);
	color: #333;
	padding: .3ex;
}

p.yt,p.tv {
	text-align: left;
	min-width: 640px;
}

ul {
	list-style-position: inside;
	list-style-type: square;
}
li {
	padding: 0px;
}

a.back {
	font-size: large;
	font-weight: bold;
	color: green;
}
a:hover {
	background-color: yellow;
	cursor: pointer;
}
